body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(6, 23, 58);
    color: rgb(227, 227, 233);
   
}